html, body {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.9);
}

.bio {
    top: 150px;
    position: absolute;
    color: grey;
    width: 40%;
    height: 18%;
    padding-left: 6%;
    //padding-right: 60%;
    font-family: "Roboto", sans-serif;
}

.bio:hover {
    color: white;
}

.bio-change {
    color: transparent;
}
/* Header */
.header {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 10%;
    font-family: "Roboto", sans-serif;
    font-size: 10vw;
    font-weight: 200;
    color: white;
    opacity: 1;   
}

.header:hover {
    opacity: .5;
}

.greeting {
    margin-left: 5%;
    opacity: 1;
}

.greeting2 {
    //z-index: -1;
    position: fixed;
    margin-top: 20%;
    right: 1%;
}
.greeting2-change {
    opacity: .5;
}

.emphasis {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.emphasis2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 5vw;
  margin-top: 5%;
}

/* Backgrounds */
.stars {
  display: hidden;
  opacity: .5;
  right: 0%;
  margin-bottom: 0px;
  margin-right: 30px;
  width: 5%;
  height: 5%;
  border-bottom-left-radius: 400px;
  border-bottom-right-radius: 0px;
}
.bg {
    z-index: -1;
    width: 100%;
    height: 91%;
    background: url(../images/cover.jpg);
    background-size: cover;  
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
}

.bg2 {
	position: relative;
  width: 100%;
  height: 1526px;
	z-index: -11;
}

.bg2-stick {
	position: absolute;
}

.bg3 {
  height: 100%;
  width: 100%;
  margin-top: -20px;
}

/* Navigation */
.nav-bar {
    z-index: 1;
    position: sticky;
    background-color: rgba(0,0,0,.8);
    width: 100%;
    min-height: 75px; 
    height: 10%;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    color: white;
    padding: 0px;
    -webkit-transition: padding .5s, height .5s;
    transition: padding .5s, height .5s;
    bottom: 0%;
}

.stick {
  background-color: rgba(0,0,0,.9);
	position: fixed;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 5px;
	min-height: 80px;
  height: 10%;
	top: 0px;
}

.unstick {
	position: sticky; //static
  bottom: 0px;
}

.pic {
    position: absolute;
    width: 50px;
    height: 0px;
    border-radius: 100px;
    //margin-bottom: .2%;
    //margin-left: 22%;
    left: 3%;
    top: 20%;
    -webkit-transition: height .5s;
    transition: height .5s;
}

.pic-show {
    margin-bottom: .5%;
    margin-left: 85%;
    height: 50px;
}

.down-btn {
    position: relative;
    width: 50px;
    height: 50px;
    left: 47.8%;
    opacity: .5;
}

.down-btn:hover {
    cursor: pointer;
    opacity: 1;
}

.menu-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 13px;
    margin-left: 1%;
    opacity: .5;
}

.menu-icon:hover {
    opacity: 1;
    cursor: pointer;
}

/* Menu */
.menu {
    z-index: 0;
    position: fixed;
    background: rgba(0,0,0, .75);
    width: 0%;
    height: 100%;
    -webkit-transition: width .5s, background 1s;
    transition: width .5s, height .5s, background 1s;
}

.menu-top {
    z-index: 1;
    width: 48%;
    bottom: 0%;
    /*height: 300%;*/
}

.menu-bottom {
    z-index: 0;
    margin-top: 758px;
    width: 100%;
    height: 1750px;
}

.list {
    display: none;
    position: absolute;
    width: 100%;
    color: white;
}

.list-change {
    display: block;
    margin-top: 40%;
    width: 100%;
}

a, a:link, a:visited, a:hover, a:focus, a:active{
    color: inherit;
    text-decoration: none
    
}

li {
    opacity: .5;
    width: 0%;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-size: 7vw;
    font-weight: 200;
    margin-left: 0px;
    -webkit-transition: width .5s;
    transition: width .5s, height .5s;
}

li:hover {
    opacity: 1;
    color: black;
    width: 110%;
    font-weight: 500;
    background: yellow;
    cursor: pointer;
    margin-left: -15px;
}


/* Portfolio */
.buffer {
    background-color: white;
    width: 100%;
    height: 150px; 
}

.bg2 .panel {
    width: 94%;
}

.panel {
    border-radius: 25px;
    margin-left: 3%;
    padding-left: 3%;
    padding-right: 3%;
    width: 90%;
}

.podcast-title:hover {
    text-decoration: underline;
    opacity: .75;
}